matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.25.2
pandas==2.1.0
scikit-learn==1.3.0
scipy==1.11.2
tensorflow==2.15.0
torch==2.2.2
torchsummary==1.5.1
torchvision==0.17.2
tqdm==4.66.3
argparse~=1.4.0
diffusers~=0.29.2
einops~=0.8.0
requests~=2.32.3
Pillow~=10.0.0
datasets~=3.0.1